* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Geneva, Tahoma, sans-serif;
  padding: 2rem;
  max-width: 1040px;
  margin: auto;
}

blockquote {
  margin-bottom: 2rem;
}

blockquote p,
blockquote cite {
  color: grey;
}

blockquote p {
  margin-bottom: 10px;
}

blockquote cite {
  text-align: right;
  display: block;
}

div:has(blockquote) {
  margin: auto;
  max-width: 75%;
}

h1, h3 {
  text-align: center;
  margin-block: 2rem;
}

#book-list-table {
  width: 100%;
  border-collapse: collapse;
  border: solid 2px grey;
}

/* book-item */
#book-list-table tbody .book-item:nth-child(odd) {
  background-color: rgb(221, 221, 221);
}

#book-list-table tbody .book-item:hover {
  cursor: pointer;
  outline: solid 2px coral;
}

#book-list-table tfoot {
  border-top: solid 1px rgb(198, 198, 198);;
}

#book-list-table tfoot th {
  text-align: right;
}

#book-list-table th{
  text-align: left;
  border-bottom: solid 1px rgb(198, 198, 198);
}

#book-list-table thead th, 
#book-list-table tbody td, 
#book-list-table tfoot th, 
#book-list-table tfoot td {
  padding: 10px;
}

dialog {
  margin: auto;
  padding: 2rem;
  border: none;
  position: relative;
  border: 5px;
  width: 100%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, .75);
}

dialog form {
  text-align: left;
}

form label {
  cursor: pointer;
}

form input {
  display: block;
  margin-top: 10px;
  width: 85%;
  border: none;
  border-bottom: solid 2px darkslategray;
  padding: 10px 5px;
  transition: all .25s ease-out;
}

form input:focus {
  width: 100%;
  outline: none;
  border-bottom: solid 2px coral;
}

form input[type="radio"] {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-left: 0rem;
  cursor: pointer;
}

form fieldset {
  padding: 10px 20px;
  border-color: grey;
  margin-block: 1rem;
  border-radius: 5px;
}

form fieldset legend {
  color: lightsalmon;
}

form p {
  margin-block: 1.25rem;
}

form p:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  min-width: 25%;
  max-width: 30%;
  justify-content: space-between;
  cursor: pointer;
}

button {
  background: teal;
  border: none;
  padding: 8px 10px;
  /* border-radius: 5px; */
  font-weight: 800;
  cursor: pointer;
  color: white;
}

button.delete {
  color: red;
  border: solid 2px red;
}

button.toggle {
  color: blue;
  border: solid 2px blue;
}

button.delete:hover {
  background: red;
  color: inherit;
}

button.toggle:hover {
  background: blue;
  color: inherit;
}

button#saveEditBook {
  width: 50%;
  margin: auto;
  display: block;
}

.booksDisplay {
  margin-block: 3rem;
}

.book-item p {
  margin-block: 1rem;
}

.book-item .hasRead {
  color: green;
  font-size: 0.75rem;
}

.book-item .author {
  color: lightgrey;
}

.book-item hr {
  margin-top: 2rem;
  border-color: grey;
}


@media (min-width: 768px) {
  dialog {
    width: 400px;
  }
}